body 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: 'Press Start 2P';
    margin: 0;
    padding: 20px;
    color: #61dafb;
}

h1, h4 
{
    text-align: center;
    color: #e44d26;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p, h1, h2, h3, h4, h5, h6 
{
    clear: right;   /*Con esto se asegura que todo el texto se encuentre en una posición fijada*/
}

#title 
{
    font-size: 24px;
    margin-bottom: 20px;
    color: #61dafb;
    text-align: center;
}

#game-container
{
    width: 60%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

canvas
{
    width: 100%;
    height: auto;
    display: block;
    background-color: #333; /* Para diferenciarlo del color del fondo del sitio */
}

#health-container 
{
    position: relative;
    font-size: 18px;
    margin-top: 10px;
    color: #e44d26;
}

#game-over 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    z-index: 1000;
    display: none;
}

#game-over h2 
{
    font-size: 36px;
    margin-bottom: 20px;
    color: #e44d26;
}

#restart-button 
{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e44d26;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

#restart-button:hover 
{
    background-color: #333;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.3s;
}
